<launch>
  <arg name="world_name" default="$(find nndrone_description)/worlds/nndrone_world.world" />

  <param command="$(find xacro)/xacro $(find nndrone_description)/urdf/nndrone.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model nndrone" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="true"/>
    <!-- <arg name="world_name" value="$(arg world_name)" /> -->

    <arg name="debug" value="false"/>
  </include>
</launch>
