<?xml version="1.0"?>

<model>
  <name>Neural Node Drone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chirag Makwana</name>
    <email>chiragmakwana02@gmail.com</email>
  </author>
  
  <maintainer email="chiragmakwana02@gmail.com">Chirag Makwana</maintainer>


  <description>
      Neural Node Drone 
  </description>
</model>
